.popup__close {
  width: 32px;
  height: 32px;
  background: transparent center url(../../../images/close-icon.svg);
  background-size: auto;
  border: none;
  position: absolute;
  /* top: 28px; */

}

@media screen and (max-width: 320px) {
  .popup__close {
    width: 20px;
    height: 20px;
  }
}
